services:
  lms_db:
    image: postgres:15-alpine
    restart: always
    container_name: lms_db
    ports:
      - '5151:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - './local/data/postgres:/var/lib/postgresql/data'
